*{
	font-family: 'Roboto Mono',monospace;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
header{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
    z-index: 30;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #202124;
    color: #fff;
    border-bottom: 1px solid #5f6368;
    justify-content: space-between;
}
.Enclose{
	display: flex;
	flex-flow: row wrap;
/*	justify-content: right;*/
	align-items: center;
}
.sidepane{
	padding-left:2%;
}
.title{
	padding-left:2%;
}
i.fas.fa-camera{
	font-size:25px;
    padding-right: 15px;
}
i.fa.fa-bars{
	font-size: 25px;
}
i.far.fa-sun{
	font-size: 20px;
}
.auth h2{
	padding: 0px 15px;
	margin-left:25px;
}
section{
	position: absolute;
	top: 15%;
	left: 0;
	display: flex;
	flex-flow: row;
	height: 85%;
	width: 100%;

}
.leftpane{
	flex:60%;
	border-right: 2px groove;
	background:#202124;
	color: #fff;
	padding: 10%;
}
.rightpane{
	flex:40%;
	background:#202124;
	color: #fff;
	flex-flow: column;
	padding-top:7%;
}
i.fas.fa-plus{
	padding-right: 10px;
}
i.fas.fa-door-open{
	padding-right: 10px;
}
.Button{
	border: 2px groove;
	padding: 0px 10px;
	border-radius: 20px;
	z-index: 20;
	margin: 5% 5%;
	transition: 1s;
}
.Button:hover{
	background: #fff;
	color:#202124;
	box-shadow: 6px 6px #fff;
	border: none;
}
div > img{
	border-radius: 110px;
}
div > .content{
	padding: 2%;
	align-items: center;
	justify-content: center;
	text-align: center;
}
i.fas.fa-sign-out-alt{
	color: red;
	font-size: 40px;
	transition: 0.5s;
}
i.fas.fa-sign-out-alt:hover{
	color: #fff;
}
.roomname{
	margin: 10px;
	width: 100%;
	font-size: 0.7rem;
	justify-content: space-between;
}
article,body{
	background: #292929;
}
.container{
	position: absolute;
	top: 15%;
	display: flex;
	background: #202124;
	color: #fff;
	width: 99%;
	height: 105%;
	border-radius: 10px;
}
.card{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: 2px groove;
	width: 20%;
	background:#292929;
}
.widget{
	position: absolute;
	top: 100%;
	display: flex;
	justify-content: center;
	color: #fff;
	width: 35%;
	border-radius: 10px;
	margin-left: 32%;
	opacity: 10%;
}
.widget:hover{
	opacity: 100%;

}
i.fas.fa-microphone-slash,i.fas.fa-heart,i.fas.fa-comment-dots{
	font-size: 20px;
	color: pink;
	border: 2px groove;
	border-radius: 30px;
	background: #202124;
	padding: 4%;
	margin: 0 2%;
	cursor: pointer;
}
i.fas.fa-street-view,i.fas.fa-video-slash{
	font-size: 20px;
	color: skyblue;
	border: 2px groove;
	border-radius: 30px;
	background: #202124;
	padding: 4%;
	margin: 0 2%;	
	cursor: pointer;
}
i.fas.fa-microphone-slash:hover,i.fas.fa-street-view:hover,i.fas.fa-video-slash:hover
,i.fas.fa-comment-dots:hover,i.fas.fa-heart:hover{
	background: #fff;
	color: #202124;
}
button{
	all:unset;
}